.btn{
    padding:20px;
    text-align: center;
    border-radius: 0;
    background-color: black;
    color: white;
    border-radius: 1px;

    &:hover{
        background-color: white;
        color:black;
    }
}

.inverted{
    padding:20px;
    text-align: center;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;

    &:hover{
        background-color: rgb(0, 0, 0);
        color:rgb(255, 255, 255);
    }
}